.card{
    width: 300px;
    min-width: 300px;
    height: 350px;
    background-color: var(--clr-secondary);
    border: 3px solid white;
    border-radius: 12px;
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    overflow: hid;
    cursor: pointer;
    transition: all .3s;
    color: var(--clr-primary)
}

.card:hover{
    margin-top: -10px;
}

.card img{
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card p{
    
    text-align: center;
    font-size: 20px;
}

.selected{ 
    color: white;
    background-color: green;
    border-color:  green;
    border-radius: 12px; 
    scale: 1.07;  
}
