@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root{
  --clr-primary:#080647;
  --clr-secondary:#f3b837;
  
}
/*f0d947*/

*{
  padding: 0;
  margin: 0;
  font-family: 'Unbounded';
}


body{
  background-color: var(--clr-primary);
}

a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}


body::-webkit-scrollbar {
  display: none;
}


/* Handle */
body::-webkit-scrollbar-thumb {
  display: none;
}



.yellow{
  color: var(--clr-secondary);
}
.btn{
  padding: 6px;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border: 1px solid transparent;
  border-radius:6px;
  font-size: 18px;
  
  cursor: pointer;
  transition: all .3s;
}

.btn:hover{
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  
  border: 1px solid var(--clr-secondary);
}


.btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}


.button {
  border: none;
  outline: none;
  background-color: var(--clr-secondary);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--clr-primary);
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a87302;
  cursor: pointer;
}
.button:hover{
  transform: translateY(-3px);
  box-shadow: 0px 8px 0px 0px #a87302;
}

.button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

